project:
  type: website
  output-dir: docs

website:
  title: "Daniel Sabogal-Rodriguez"
  navbar:
    right:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - Flatly
    css: styles.css
    toc: true



